/* Оформление */
* {
  color: rgba(255, 249, 243, 1);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
html {
  font-family: "Montserrat";
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: rgba(28, 28, 28, 1);
  padding: 24px;

  background-size: 100vw;
  background-repeat: no-repeat;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

/* Секции */

.one {
  height: 38vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.line-1 {
  height: 4vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Cекция 1 бегущая строка */

.cheza {
  display: flex;
  width: max-content;
  white-space: nowrap;
  font-size: clamp(4rem, 20vw, 15em);
  animation: scroll 5s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.yellow {
  color: rgba(255, 210, 83, 1);
}

.cheza p {
  margin-right: 1vw; /* расстояние между повторами */
  font-weight: 700;
}

/* секция 3 */
.twoo {
  position: relative;
  display: flex;
  height: 76vh;
  gap: 1%;
}

.ckotch {
  width: 30%;
  height: 75vh;
  display: block;
  overflow: hidden;
  background: url("../img/skotch.png") no-repeat transparent;
  margin-left: 2%;
}

.ckotch p {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  font-size: 16em;
  font-weight: 700;
  text-shadow: 0px 25px 25px rgba(255, 249, 243, 1);
}

@keyframes switchColors {
  0%,
  49% {
    color: rgba(255, 249, 243, 1);
    text-shadow: 0 25px 25px rgba(255, 249, 243, 1);
  }
  50%,
  100% {
    color: rgba(255, 210, 83, 1);
    text-shadow: 0 25px 25px rgba(255, 210, 83, 1);
  }
}

.ckotch p {
  animation: switchColors 2s steps(1, end) infinite;
}

.ckotch p span {
  animation: switchColors 2s steps(1, end) infinite reverse;
}
.v {
  width: 16%;
}

.o {
  width: 32%;
}

.s {
  width: 16%;
}

.k {
  width: 32%;
}

.l {
  width: 16%;
}

.i {
  width: 32%;
}

.box p {
  font-size: 16vw;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxandtape {
  width: 70%;
  height: 78vh;
  position: relative;
  overflow: hidden;
  background-image: url("../img/box-list.png");
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.boxandtape .ball {
  position: absolute;
}

/* первая картинка */
.ball1 {
  top: 0;
  left: 0;
  animation: bounce1 5s linear infinite;
}

@keyframes bounce1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(400px, 200px);
  }
  50% {
    transform: translate(0, 400px);
  }
  75% {
    transform: translate(300px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* вторая картинка */
.ball2 {
  top: 100px;
  left: 200px;
  animation: bounce2 6s linear infinite;
}

@keyframes bounce2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
  }
  40% {
    transform: translate(0px, 300px);
  }
  60% {
    transform: translate(100px, 100px);
  }
  80% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(50px, 0);
  }
}

/* третья картинка */
.ball3 {
  top: 200px;
  left: 100px;
  animation: bounce3 2s linear infinite;
}

@keyframes bounce3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(400px, 50px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* секция 4 */

.eyes {
  height: 68vh;
  position: relative;
}
.color-1 {
  position: absolute;
  left: 17%;
  top: 37%;
  z-index: 2;
}

.base-1 {
  position: absolute;
  left: 8%;
  top: 37%;
  z-index: 1;
}

.color-2 {
  position: absolute;
  left: 45%;
  top: 21%;
  z-index: 2;
}

.base-2 {
  position: absolute;
  left: 37%;
  top: 20%;
  z-index: 1;
}

.base-3 {
  position: absolute;
  left: 65%;
  top: 32%;
  z-index: 2;
}

.color-3 {
  position: absolute;
  left: 75%;
  top: 34%;
  z-index: 3;
}

.triangle {
  position: absolute;
  left: 11%;
  top: 72%;
}

.triangle2 {
  position: absolute;
  left: 34%;
  top: 18%;
}

.triangle3 {
  position: absolute;
  left: 63%;
  top: 27%;
}

.triangle4 {
  position: absolute;
  left: 82%;
  top: 61%;
  z-index: 1;
}

/* тут я объединяю*/
.color-1,
.color-2,
.color-3 {
  animation: shake 0.5s ease-in-out infinite alternate;
}

/* анимация "дрожания" */
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, -1px);
  }
  50% {
    transform: translate(-2px, 1px);
  }
  75% {
    transform: translate(1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.boxes {
  height: 101vh;
  display: flex;
  justify-content: center;
}

.baseboxes {
  width: 95%;
  height: 100vh;
  background-color: rgba(255, 249, 243, 1);
  position: relative;
  overflow: hidden;
}
.square:hover {
  animation-play-state: paused; /* останавливаю движение */
  background-color: rgba(255, 210, 83, 1);
}
.square1 {
  width: 10vw;
  height: 20vw;
}
.square {
  position: absolute;
  top: -5vh;
  width: 20vw;
  height: 10vw;
  background-color: rgba(28, 28, 28, 1);
  animation: fall 5s linear infinite;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.tapesale {
  height: 55vh;
  overflow: hidden;
}
@keyframes fall {
  0% {
    top: -5vh;
  }
  100% {
    top: 100vh;
  }
}

.square:nth-child(1) {
  left: 5vw;
  animation-delay: 0s;
}
.square:nth-child(2) {
  left: 20vw;
  animation-delay: 1s;
}
.square:nth-child(3) {
  left: 40vw;
  animation-delay: 0.5s;
}
.square:nth-child(4) {
  left: 60vw;
  animation-delay: 1.5s;
}
.square:nth-child(5) {
  left: 80vw;
  animation-delay: 2s;
}

.typecolor {
  width: 200vw;
  height: 30vh;
  background-color: rgba(255, 210, 83, 1);
  transform: rotate(-3deg);
  margin-left: -10vw;
  margin-top: 9vh;
}

.typecolor {
  margin-top: -12vh;
  display: flex;
  width: max-content;
  white-space: nowrap;
  font-size: clamp(4rem, 20vw, 15em);
  animation: scroll2 5s linear infinite;
  transform: rotate(-3deg); /* начальный наклон */
}
.typecolor p {
  margin-top: -5vh;
  margin-right: 3vw; /* расстояние между повторами */
  font-weight: 700;
}
@keyframes scroll2 {
  from {
    transform: rotate(-3deg) translateX(0);
  }
  to {
    transform: rotate(-3deg) translateX(-50%);
  }
}

.typep {
  color: rgba(28, 28, 28, 1);
}

.white {
  color: rgba(255, 249, 243, 1);
}

.six {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  justify-content: center;
}

.boxx {
  width: 55vw;
  height: 105vh;
  background-image: url("../img/box-for-lamp.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.boxx img {
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-30%);
  animation: shake 0.5s ease-in-out infinite alternate;
}

.scale {
  height: 105vh;
  width: 10vw;
  background-image: url("../img/scale.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.categories-one {
  height: 105vh;
  width: 25vw;
  flex-direction: column;
  gap: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories-one p {
  font-size: 5em;
  gap: 2%;
  margin-top: -2%;
}

.categories-one img {
  margin-top: 12%;
}

.tag {
  height: 120vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.linee {
  position: absolute;
  height: 100vh;
  width: 67vw;
  background-image: url("../img/linecurcle.svg");
  background-repeat: no-repeat;
  left: 25vw;
  top: 20vh;
  z-index: 4;
}
.boxandlox {
  height: 60vh;
  width: 25vw;
  background-image: url("../img/lox.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 6vw;
  top: 38vh;
  transform: rotate(10deg);
  z-index: 5;
}

.fareone {
  position: absolute;
  left: 42vw;
  top: 35vh;
  z-index: 6;
}

.faretwo {
  position: absolute;
  left: 70vw;
  top: 36vh;
  z-index: 6;
}

.farethree {
  position: absolute;
  left: 50vw;
  top: 98vh;
  z-index: 6;
}

.sckotcch {
  position: absolute;
  left: 20vw;
  top: 15vh;
  z-index: 5;
}

.tapess {
  height: 55vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tapescolor {
  width: 200vw;
  height: 30vh;
  background-color: rgba(255, 249, 243, 1);
  transform: rotate(3deg);
  margin-left: -10vw;
  margin-top: 9vh;
  white-space: nowrap;
}

.salee {
  color: rgba(28, 28, 28, 1);
  font-weight: 700;
  font-size: 15em;
  margin-left: -10vw;
  margin-top: -4vh;
  white-space: nowrap;
}

.thought {
  height: 100vh;
}

.garage {
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.colorgarage {
  position: absolute;
  z-index: 10;
}

.cvecnemie {
  position: absolute;
  left: -3%;
  z-index: 7;
}

.cat {
  position: absolute;
  margin-top: -23%;
  left: 40%;
  z-index: 8;
}

.garages {
  position: absolute;
  z-index: 9;
  left: 1.5%;
}

.done {
  height: 15vh;
}

.carton {
  background-image: url("../img/cartoonm.svg");
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer {
  height: 38vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.anihce {
  display: flex;
  width: max-content;
  white-space: nowrap;
  font-size: clamp(4rem, 20vw, 15em);
  animation: scroll 5s linear infinite;
}

.anihce p {
  font-weight: 700;
}

.carton p {
  margin-left: 1vw;
  font-weight: 700;
  font-size: 1.7em;
  color: rgba(28, 28, 28, 1);
}
